{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<main>
  <h2 style="color: #333">Student Marks</h2>

  <p>The following students marks have been recorded in the register:</p>

  <ul
    style="
      color: #560303ff;
      background: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      list-style: none;
    "
  >
    {# for loop to print key and items #} {% for key, items in data.items() %}
    <li style="padding: 10px 0; border-bottom: 1px solid #eee">
      <strong>{{ key }}</strong> → {{ items }} {% if items > 80 %}
      <span style="color: green; font-weight: bold">Excellent</span>
      {% elif items > 60 %}
      <span style="color: #2980b9; font-weight: bold">Very Good</span>
      {% elif items > 40 %}
      <span style="color: orange; font-weight: bold">Good</span>
      {% else %}
      <span style="color: red; font-weight: bold">Average</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <hr style="margin-top: 20px" />
</main>
{% endblock %}
